{{extend 'layout.html'}}


{{if not auth.has_membership('admin'):}}

  <p><a href="{{=URL(f='apoderado')}}" class="btn btn-inverse">
    <i class="icon icon-white icon-arrow-left"></i> Mis hijos</a></p>
  
{{pass}}


<h1>Actividades del Curso</h1>

<ul class="thumbnails">

{{for data in deudas:}}


  <li class="span4">
    <div class="thumbnail">
      <img src="" alt="">
      <h3>
	{{=data.deuda.nombre.title()}} 
	<small>
	  {{=data.deuda.cuotas}} cuota(s) de ${{=data.deuda.monto}}
	</small>
      </h3>
      
      <span title="{{=data.deuda.finaliza}}" class="pull-right label">{{=prettydate(data.deuda.finaliza) if data.deuda.finaliza else ''}}</span>

      <div class="progress progress-striped active">
	<div class="bar" style="width: {{=porcentaje(data.deuda.total, data[total_pagado_alumno])}}%;">
	  {{=porcentaje(data.deuda.total, data[total_pagado_alumno])}}%
	</div>

      </div>



      <ul>

	<li>Pagado: {{=numfmt(data[total_pagado_alumno])}} (cuota {{=data[total_pagado_alumno]/data.deuda.monto}} de {{=data.deuda.cuotas}})</li>

	<li>Debe: {{=numfmt(data.deuda.total - data[total_pagado_alumno])}}</li>
      </ul>
      <a class="btn btn-large btn-block btn-info deuda-abonar"
	 style = "display:none;"
	 href="{{=URL(f='pago', vars = {'deuda': data.deuda.id})}}">
	Pagos realizados</a>
    </div>
  </li>

{{pass}}

</ul>



<script>

  $(document).ready(function(){
  
   $(".thumbnail").hover(
     function() {
       $(this).find(".deuda-abonar").slideDown();
     },
     function() {
       $(this).find(".deuda-abonar").slideUp();
     }
   )
   

  });
  
  

</script>
